:host {
  display: inline-flex;
  box-sizing: border-box;
}

:host([hidden]) {
  display: none !important;
}

:host([disabled]) {
  pointer-events: none;
}

:host([position="absolute"]) {
  position: absolute;
}

:host([position="relative"]) {
  position: relative;
}
